li.mail {
    list-style-type: none;
    background-image:url('../images/mail.svg');
    background-repeat:no-repeat;
    background-position:left center;
    margin-bottom: 5px;
}

li.password {
    list-style-type: none;
    background-image:url('../images/password.svg');
    background-repeat:no-repeat;
    background-position:left center;
    margin-bottom: 5px;
}

li.city {
    list-style-type: none;
    background-image:url('../images/world.svg');
    background-repeat:no-repeat;
    background-position:left center;
    margin-bottom: 5px;
}

.logo{
	padding-top: 20px;
	padding-left: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
}

.header{
	height: 80px;
}