<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CoolSolutions</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<display-name>DBConnection</display-name>
		<servlet-name>DBConnection</servlet-name>
		<servlet-class>de.coolsolutions.controller.DBConnection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBConnection</servlet-name>
		<url-pattern>/DBConnection</url-pattern>
	</servlet-mapping>
	
	<!-- <servlet>
		<display-name>DBQuery</display-name>
		<servlet-name>DBQuery</servlet-name>
		<servlet-class>de.coolsolutions.controller.DBQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBQuery</servlet-name>
		<url-pattern>/DBQuery</url-pattern>
	</servlet-mapping>
	-->
</web-app>